

.imgResponsive{
    width: 80%;
    margin: auto;
    margin-top: 4%;
}

@media only screen and (max-width: 775px) {
    .imgResponsive{
        width: 30%;
        margin: auto;
        margin-top: 4%;
    }
    .resDiv{
        margin-top: 7%;
    }
}